*{
  color: white;
  background-color: #0c0921;
}
.container{
  background-color: #0c0921;
  height: 150rem;
  border-radius: 5rem;
}
.navbar{
  font-size: 5rem;
}
.input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
}
#input{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 5rem;
  border: 2px solid #0c0921;
  border-radius: 3rem;
  font-size: 2.5rem;
  color: black;
  text-align: center;
}
#search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-size: cover;
  border-radius: 3rem;
}
#search:hover{
  cursor: pointer;
}
.weather-img{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.weather{
  width: 30rem;
  background-size: cover;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.city {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.temp{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12rem;
  margin-top: 0.5rem;
}
.weather-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.hi-lo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 1rem;
  gap: 2rem;
}
.grid{
  width: 25rem;
  border-radius: 4rem;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 5rem;
  background-color: #7c76a8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16rem;

}
.grid-img{
  width: 8rem;
  padding-right: 2rem;
  /* background-color: #7c76a8; */
  /* background-color: #bdb8e3; */
  background-color: #7c76a8;
}
.grid-text{
  padding-left: -50px;
  background-color: #7c76a8;
}
.gr-text{
  margin-right: 10px;
  padding-bottom:1rem ;
  font-size: 3rem;
  color: black;
  background-color: #7c76a8;
  border: none;
}
.gr-info{
  border: none;
  font-size: 4rem;
  color: black;
  background-color: #7c76a8;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.row1{
  margin-top: -1.5rem;
}
.row2 , .row3{
  margin-top: -3rem;
}
.error{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  margin-top: 8rem;
}